::-webkit-scrollbar {
    width: 5px;
    scroll-behavior: smooth;
    visibility: hidden;
}
      
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    visibility: hidden;
}
       
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    visibility: hidden;
}
      
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    visibility: visible;
}

::selection {
    background: #000000; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #000000; /* Gecko Browsers */
}

* {
    font-family: 'IBM Plex Sans', sans-serif;
}
html, body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
 body {
    width:100%;
  }
.heading1 {
    margin-left: 100px;
}

.subtitle1 {
    margin-left: 120px;
}

#col-left {
    text-align: center;
}
#col-right {
    text-align: center;
}

#cs_img {
    height: 80%;
    width: 80%;
    margin-left: 10%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
}

#math_img {
    height: 60%;
    width: 60%;
    margin-left: 20%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
}

#math_img:hover, #cs_img:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 600ms ease;
}


#col-left:hover, #col-right:hover {
    background-color: rgb(255, 238, 238);
    transition: 200ms ease;
}
