* {
    font-family: 'Source Sans Pro', sans-serif;
}

.footer Button {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.header {
    margin-top: 3%;
}

.header h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.5vw;
}