.mainContainer{
  border: "2px solid black";
  background-color: skyblue;
  margin: .5em;
}

.mainCard{
  border: "10em";
  background-color: skyblue;
  padding: .1em;
}

.container{
    display: flex;
    background-color: skyblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
